* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #f5f4f4;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(135deg, #101010, #f50954, white);
}

 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, white #191919, #fcfc);
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url("assets/yt.jpg");
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f50954;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f50954;
    transition: .4s;
}

.btn {
    background-color: #f50954;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.1);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f50954;
    border-radius: 30px;
}

.newsletter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f50954;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 439px;
}

.about-text {
    width: 553px;
}

.main {
    width: 1140px;
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 76px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f50954;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f50954;
    cursor: pointer;
}

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f50954;
}

h5 {
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
}

.pra p {
    color: #fcfc;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f50954;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 21px;
    border-radius: 30px;
    transition: .5s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f50954;
    cursor: pointer;
}

.skills {
    background: #191919;
    width: 100%;
    padding: 100px 0px;
}

.skills .bars {
    margin-bottom: 15px;
}

.skills .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills span {
    font-weight: 500;
    font-size: 18px;
    color: #fcfc;
}

.skills .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #f50954;
}

.skills .python::before {
    width: 70%;
}

.skills .html::before {
    width: 85%;
}

.skills .css::before {
    width: 80%;
}

.skills .js::before {
    width: 70%;
}

.skills .bootstraps::before {
    width: 40%;
}

.skills .django::before {
    width: 50%;
}

.con {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.contact-me {
    width: 100%;
    height: 289px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 27px;
}

.contact-me .button-two {
    background-color: #f50954;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 3px 30px;
    border-radius: 30px;
    transition: .5s;
}

.fields .fieldname input:first-child {
    border: 2px solid #f50954;
    border-radius: 20px;
    height: 30px;
}

.fields .fieldemail input:first-child {
    border: 2px solid #f50954;
    border-radius: 20px;
    height: 30px;
}

.fields .field input:first-child {
    border: 2px solid #f50954;
    border-radius: 20px;
    height: 30px;
}

.fields .fieldtexta textarea:first-child {
    border: 2px solid #f50954;
    border-radius: 20px;
    height: 30px;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f50954;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 1px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    background: #f50954;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .4s;
}